body {
  background-color: white;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.jumbotron { 
  padding: 30px; /* fills out the jumbotron */
  background-color: #111;
}