.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background-color: #7986CB ;
    color:black;
}

body {
  background-color: green;
  text-align: center;
  margin: 50px 0px auto auto;
}

h1 {
  color: blue;
}

h2 {
  color: red;
}


nav a{
  padding: 15px;
  padding-bottom: 4px;
  font-size: 1.8em;
  text-decoration: none;
  color: green;
}