<%- include('templates/header') -%>
    <link rel="stylesheet" type ="text/css" href="app.css">
    <nav class="jumbotron">
    <h1>Welcome To Earth!</h1>
    <h1>Click on a planet to know more about it:</h1>
    <a href="/mercury">Mercury</a><br>
    <a href="/venus">Venus</a><br>
    <a href="/">Home</a><br>
    </nav>
    <img src="/img/earth.jpg" alt="Earth">
    <br>
    <ul>
    <strong>Earth's</strong> outer layer <strong>(lithosphere)</strong> is divided into several rigid 
    tectonic plates that migrate across the surface over many <bold>millions</bold> of years. 
    About <strong>29%</strong> of Earth's surface is land consisting of <strong>continents</strong> and <strong>islands</strong>. 
    The remaining <strong>71%</strong> is covered with water, mostly by oceans but also lakes, 
    rivers and other <strong>fresh water</strong>, which all together constitute the <bold>hydrosphere</bold>. 
    The majority of <strong>Earth's polar regions</strong> are covered in ice, including the <strong>Antarctic</strong> 
    ice sheet and the sea ice of the <strong>Arctic</strong> ice pack. 
    </ul>
    <br>
   

<%- include('templates/footer') -%>