<%- include('templates/header') -%>
<link rel="stylesheet" type ="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type ="text/css" href="app.css">
    <nav class="jumbotron">
    <h1>Welcome To The Solar System!</h1>
    <h1>Click on a planet to know more about it:</h1>
    <a href="/mercury">Mercury</a><br>
    <a href="/venus">Venus</a><br>
    <a href="/earth">Earth</a><br>
    </nav>

<%- include('templates/footer') -%>