<%- include('templates/header') -%>
    <link rel="stylesheet" type ="text/css" href="app.css">
    <nav class="jumbotron">
    <h1>Welcome To Venus!</h1>
    <h1>Click on a planet to know more about it:</h1>
    <a href="/mercury">Mercury</a><br>
    <a href="/earth">Venus</a><br>
    <a href="/earth">Earth</a><br>
    <a href="/">Home</a><br>
    </nav>
    <img src="/img/venus.jpg" alt="Venus">
    <br>
    <ul>
    <strong>Venus</strong>, the second planet from the sun, is named after the Roman goddess of 
    <strong>love</strong> and <strong>beauty</strong> and is the only planet named after a <strong>female</strong>. Venus may 
    have been named after the most <strong>beautiful deity</strong> of the pantheon because it 
    shone the <strong>brightest</strong> among the five planets known to ancient astronomers.  
    </ul>
    <br>
    
<%- include('templates/footer') -%>